<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dha.dhabigdata.mapper.otherdb.OtherUserMapper">
	
	<select id="getUsersByUserCode" parameterType="java.util.Map"
		resultType="java.util.Map">
		select * from T_USER where 1=1
		<if test="name != null">
			AND userName = #{name}
		</if>
		<if test="code != null">
			AND userCode = #{code}
		</if>
	</select>

</mapper>
 

